<!DOCTYPE html>
<html>
<head>
  <title>Wattsun</title>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'map'%>
  <%= javascript_include_tag 'suggest'%>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
  <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>
</head>
<body>

<%= yield %>
<div id="modal-one" class="reveal-modal">
  <h2>Your current electricity cost:</h2>
  <ul>
    <li>Your electricity price (on the left) is most likely tiered i.e., the more power you use the more you pay per unit (kWh) of power.
    </li>
    <li>That price has increased at an average of 4% annually over the last 12 years and will most likely continue to increase.
    </li>
  </ul>
  <h2>Solar energy cost:</h2>
  <ul>
    <li>Think of solar as buying a car but with free gas forever.
    </li>
    <li>The price you see is simply the cost of a solar system divided by the amount of energy it is expected to produce over 20 years. As long as this number is lower than what you're paying currently for electricity, you will save money.
    </li>
    <li>This estimate is based on a wide range of factors localized to your zip code.
    </li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>
</body>
</html>

